*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0px;
    z-index: 10;

}
.logoMain{
    height: 140px;
    width: auto;
    
}
.headernav {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    /* border-top: 1px solid gray; */
    
}
.headernav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-around;
}

.headernav li{
    list-style: none;
}
.linkNav{
    text-decoration: none;
    font-size: 24px;
    color: green;
    font-weight: 400;
}
.linkNav:hover{
  border-bottom: 2px solid green;
}

/* SLIDER  */

.slideshow-container {
  width: 100%;
  height: 500px;  
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.mySlides {
  width: 90%;
}

.imgSlider{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: 1px solid gray
}

.prev {
  left: 110px;
  border-radius: 3px 0 0 3px;
}
.next{
  right: 110px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: relative;
  bottom: 50px;
  width: 100%;
  text-align: center;
  word-spacing: 6px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
      font-size: 11px;
    }
    .dot {
      height: 10px;
      width: 10px;
    }
  }
  

/* @media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}

@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
} */

.title{
    font-size: 50px;
    margin: 15px 0px;
    letter-spacing: 6px;
    color: green;
}
.parrafoHome{
    font-size: 25px;
    text-align: center;
    color:lightseagreen
}

.titleCard{
    font-size: 45px;
    margin: 15px 0px;
}
.parrafoHome{
    font-size: 25px;
}
.contenedorHome{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}
.cardContenier{
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.card{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px plum
}
.titleCard{
    color: beige;
    margin: 10px 0;
    letter-spacing: 3px;
}
.imgCard{
    width: 80%;
    height: 150px;
    object-fit: cover;
}
.parrafoContainer{
  width: 80%;
}

.parrafoCard{
    display: block;
    background-color: beige;
    font-size: 40px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 3px;
    color: salmon;
    height: 65px;
    text-align: center;
    letter-spacing: 2px;
}

.aCard{
    width: max-content;
    height: 65px;
    background-color: beige;
    font-size: 40px;
    padding: 5px 10px;
    margin: 20px;
    text-decoration: none;
    color: salmon;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.aCard:hover{
    border: 1px solid gray;
    box-shadow: 0px 5px 5px gray;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: lightseagreen;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.footerSuperior{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footerInferior{
  align-self: center;
  margin-bottom: 5px;
}

.titleFooter{
  margin: 20px 0px;
  text-align: center;
}
.parrafoFooter{
  text-align: center;
}
.parrafoFooter li{
  list-style: none;
  margin: 10px 0px;
}
.redesSociales ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 30px;
}
.footer a{
  text-decoration: none;
  color: black;
} 
.footer a:hover{
  border-bottom: 1px solid black;
}










