html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B2BABB ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    width: 90vw;
    height: 80vh;
    box-sizing: border-box;

}

.container1,
.container2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Estilos específicos para .container1 */
.container1 h2,
.container1 label,
.container1 input,
.container1 textarea,
.container1 button {
    margin-bottom: 20px;
}

.container1 h2 {
    margin-top: 0;
}

.container1 label {
    display: block;
}

.container1 input,
.container1 textarea {
    width: calc(100% - 40px); /* Ajusta el ancho considerando el padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.container1 button {
    width: calc(100% - 40px); /* Ajusta el ancho considerando el padding */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}


.container1 button:hover {
    background-color: #4cae4c;
}
.container1 .contact-method {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px; /* Ajusta este valor según necesites */
}

.container1 .contact-method label {
    margin-right: 1px; /* Espacio entre la etiqueta y las opciones */
}

.container1 .contact-method input[type="radio"] {
    margin-right: 1px; /* Espacio antes de cada etiqueta de opción */
}

.container1 button {
    width: 25%; /* Ajusta el ancho a un valor que prefieras */
    padding: 10px;
    margin: 0 auto; /* Centra el botón horizontalmente */
    /* ... el resto de tus estilos para el botón ... */
}

#message {
    padding: 10px; /* Esto añade un padding de 10px alrededor del contenido interno del textarea */
}


/* Estilos para .container2 */
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container2 .column {
    text-align: center;
}

.container2 .img {
    width: 85%;
    height: 20%;
    align-self: center;
    margin: 0 auto;
    object-fit: cover;
    grid-row-start: 2;
}
